@model PaymentRequestModel

@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Customer Name:</label>
        <input type="text" class="form-control" asp-for="Name" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Customer Name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address:</label>
        <input type="email" class="form-control" asp-for="Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Address:</label>
        <input type="text" class="form-control" asp-for="Address" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Address">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Phone Number:</label>
        <input type="tel" class="form-control" asp-for="PhoneNumber" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Phone Number">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Amount(INR):</label>
        <input type="number" class="form-control" asp-for="Amount" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Amount">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
